/* основной колір тексту #212121 */
/* другорядний колір тексту #000000 */
/* основной колір фону #FFFFFF */
/* вторичный колір фону #F5F4FA */
/* темный колір фона #2F303A */
/* колір акцента #2196F3 */
/* основной */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-background: #1586e2;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --text-color-footer: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primary-font: 'Roboto';
  --logo-font: 'Raleway';
}

body {
  background-color: var(--primary-background-color);
  font-family: var(--primary-font);
}

/* Logo */
.logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
}
.logo-left {
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* site-nav list*/
.site-nav a,
.contacts-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link-current,
.contacts-nav .link-current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
}
.hero-button {
  font-family: var(--primary-font);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--accent-color);
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color-background);
}

/* Features */
.features {
}

.features-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Work */
.work {
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* footer */
.footer {
  background-color: var(--dark-background-color);
}
.footer-logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}
.footer-list .link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-footer);
}
.footer-list .footer-address {
  color: var(--text-color-white);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio-button {
  cursor: pointer;
  font-family: var(--primary-font);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--text-color-white);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
